<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
           xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           version="CE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <smtps:connector name="SMTP"  validateConnections="true" fromAddress="${gmail.fromAddress}" subject="${gmail.subject}"/>

    <sub-flow name="send email">
        <smtps:outbound-endpoint host="imap.gmail.com" port="993" user="${gmail.username}"
                                password="${gmail.password}"
                                responseTimeout="10000" connector-ref="SMTP"/>
    </sub-flow>

</mule>