<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:boxnet="http://www.mulesoft.org/schema/mule/boxnet"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="CE-3.3.0" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/boxnet http://www.mulesoft.org/schema/mule/boxnet/current/mule-boxnet.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule-core.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <spring:beans>
        <spring:bean name="file-store" class="org.mule.util.store.PartitionedPersistentObjectStore"/>
    </spring:beans>

    <objectstore:config name="default" objectStore-ref="file-store" />

    <boxnet:config name="Boxnet" apiKey="${box.api.key}" restoreAuthTokenFlow="restore" saveAuthTokenFlow="save"/>

    <flow name="restore">
        <objectstore:retrieve key="${userid}.box.api.token"/>
    </flow>

    <flow name="save">
        <objectstore:store key="${userid}.box.api.token" value-ref="#[payload]" overwrite="true"/>
    </flow>

    <flow name="Boxnet-init-Authenticate" >
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="boxauth"/>
        <boxnet:get-ticket config-ref="Boxnet"/>
        <scripting:component>
            <scripting:script engine="Groovy">
                <scripting:text><![CDATA[url = "https://www.box.net/api/1.0/auth/" + payload;
if( !java.awt.Desktop.isDesktopSupported() ) {
    result = "Desktop is not supported on this platform, you'll need to go to the following URL in a browser before you can use this app: " + url + "\n\n";
} else {
    java.awt.Desktop desktop = java.awt.Desktop.getDesktop();
    if( !desktop.isSupported( java.awt.Desktop.Action.BROWSE ) ) {
        result = "This desktop does not support the browse action, you'll need to go to the following URL in a browser manually before you can use this app: " + url + "\n\n";
    } else {
        desktop.browse( new java.net.URI( url ) );
    }
}]]></scripting:text>
            </scripting:script>
        </scripting:component>
    </flow>

    <flow name="Boxnet-init-getAuthToken-callback">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="authtoken"/>
        <boxnet:auth-token config-ref="Boxnet"/>
        <set-payload value="Authenitcation complete: #[message.payload]"/>
        <http:response-builder status="200" contentType="text/plain" />
    </flow>
</mule>