<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
           xmlns:boxnet="http://www.mulesoft.org/schema/mule/boxnet"
           xmlns:http="http://www.mulesoft.org/schema/mule/http"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           version="CE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/boxnet http://www.mulesoft.org/schema/mule/boxnet/current/mule-boxnet.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <sub-flow name="Write-files-to-Box" >
        <expression-filter expression="#[payload.size() &gt; 0]" />
        <boxnet:upload-files config-ref="Boxnet" >
            <boxnet:paths ref="#[payload]"/>
        </boxnet:upload-files>
    </sub-flow>
</mule>