<mule xmlns="http://www.mulesoft.org/schema/mule/core"
           xmlns:boxnet="http://www.mulesoft.org/schema/mule/boxnet"
           xmlns:http="http://www.mulesoft.org/schema/mule/http"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           version="CE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/boxnet http://www.mulesoft.org/schema/mule/boxnet/current/mule-boxnet.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">

    <flow name="Boxnet-init-getAuthToken-callback">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="authtoken"/>
        <boxnet:auth-token config-ref="Boxnet"/>
        <set-payload value="Authenitcation complete: #[message.payload]"/>
        <http:response-builder status="200" contentType="text/plain" />
    </flow>
</mule>